.banner__section {
    height: calc(100vh - 15rem);
}

.info__section {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cta__section .contact__section {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
