.banner__section {
    height: calc(100vh - 15rem);
    background-image: url("../assets/images/IMG_1995.jpg");
}

.info__section {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.info__section--subsection {
    display: flex;
    align-items: center;
    justify-content: center;
}

.info__section--about {
    background-color: rgb(104, 94, 69);
}


.info__section--about-image {
    width: 75%;
    padding: 4rem 0 4rem 0;
}

.info__section--about-copy {
    width: 75%;
    margin: auto;
    padding-bottom: 4rem;
}



.info__section--legislation {
    background-color: rgb(22, 32, 5);
}

.info__section--legislation-copy {
    width: 75%;
    margin: auto;
    color: white;
    padding: 4rem 0 4rem 0;
}

.info__section--legislation-image {
    width: 75%;
    padding-bottom: 4rem;
}

h3 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 2rem;
    margin-bottom: 1rem;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.info__section--button button{
    color: white;
    background-color: rgb(189, 77, 46);
    border: none;
    border-radius: .5rem;
    padding: .75rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 1rem;
}

button:hover, 
button:active {
    background-color: rgb(190, 118, 98);
    cursor: pointer;
}

.cta__section .contact__section {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(118, 136, 88);
}

@media (min-width: 769px) {
    .info__section {
        height: 75vh;
        flex-direction: row;
    }

    .info__section > div {
        width: 50%;
    }
}

