.banner__section {
    height: calc(100vh - 15rem);
    background-image: url("../assets/images/IMG_1995.jpg");
}

.info__section {
    height: 75vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info__section--about {
    background-color: rgb(104, 94, 69);
}

.info__section--about-image {
    width: 75%;
    margin: auto;
}

.info__section--about-copy {
    width: 75%;
    margin: auto;
}

.info__section > div {
    width: 50%;
}

.info__section--legislation {
    background-color: rgb(22, 32, 5);
}

.info__section--legislation-copy {
    width: 75%;
    margin: auto;
}

.info__section--legislation-image {
    width: 75%;
    margin: auto;
}

h3 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 2rem;
    margin-bottom: 1rem;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.info__section--button button{
    color: white;
    background-color: rgb(189, 77, 46);
    border: none;
    border-radius: .5rem;
    padding: .75rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 1rem;
}

.cta__section .contact__section {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(118, 136, 88);
}

