* {
    box-sizing: border-box;
    margin: 0;
}

/* navbar */
.main-header {
    width: 100%;
    background-color: rgb(22, 32, 5);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 11rem;
}

.main-header__logo {
    width: 10rem;
    height: auto;
}

.main-header h2 {
    color: white;
    margin: 0;
}

.navbar {
    display: flex;
    width: 100%;
    background-color: rgb(118, 136, 88);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navbar__items {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 4rem;
}

.navbar__item {
    list-style: none;
    margin: 0 4rem 0 4rem;
}

.navbar__item a {
    text-decoration: none;
    color: black;
}

.navbar button {
    color: white;
    background-color: rgb(189, 77, 46);
    border: none;
    border-radius: .5rem;
    padding: .75rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* footer */
.footer-nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: rgb(118, 136, 88);
    height: 16rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.footer-nav__section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.footer-nav h5 {
    font-family: 'Times New Roman', Times, serif;
}

.footer-nav__section--title {
    color: black;
    font-size: 1.5rem;
    padding: 1rem 0 1rem 0;
}

.footer-nav__link {
    list-style: none;
    margin: 0 2rem 0 2rem;
}

.footer-nav__link a {
    text-decoration: none;
    color: black;
}

.footer-nav__links--social {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
}

.footer-nav__links--social a {
    margin: 0 1rem 0 1rem;
}

.copyright-info {
    color: rgb(47, 47, 47);
    margin-top: 2rem;
}