body{
background: url(nodamural.jpeg) no-repeat;
background-size: 100% 100%;
}





p, h2{
font-size: 20px;
font-style: normal;
font-weight: 400;
font-family: 'Exo 2', sans-serif;
}



.col{

border-radius: 30px;
box-shadow: 5px 5px .35em;

}

.s12 , .s10, .s9 {
background-color: rgb(118, 136, 88);
margin: 2rem;
padding: 5rem;
}


.responsive-img {
    border-radius: 30px;
}







