body {
    background: #7B7664;
}

.main_body {
    display: grid;
    grid-template-columns: 16vw 16vw 16vw 16vw 16vw 16vw;
    grid-template-rows: 15vw 15vw 15vw 15vw 15vw 15vw;
    gap: 15px;
}

.left_body {
    background-color: red;
    grid-area: 2 / 2 / 5 / 4;
}

.right_body {

    background-color: aqua;
    grid-area: 2 / 4 / 5 / 6;
}

.heading {
    background-color: orchid;
    padding: 2em;
}

.CTA_Head {
   grid-area: 1 / 3 / 1 / 5;
   text-align: center;
   margin: auto;
}