html{
    background-color: #7B7664;
}
#form{
    margin: 10px;
    margin-bottom: 10px;
    padding: none;
    background-color:#143529;
    border-radius: 10px;
    opacity: .3;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    margin-left: 10px;
    padding-top: 30px;}
h2{
    margin: 5%;
}
section{
    display: flex;
    justify-content: space-evenly;
    padding: 5%;
    padding-top: 5%;
    opacity: 1.0;
}

#button{
    display: flex;
    justify-content: center;
}

img{
    width: 15%;
    height: 15%;
    padding: 0;
    margin: 0;
}

label{
    font-size: 20px;
}



input{
    border: none;
    border-bottom: 2px solid black;
    width: 250px;
    background-color:#143529;
    font-size: 18px;
    color: black;
   
}

input::placeholder{
    color: black;
    font-size: 18px;
}

